{% load banner %}
<!doctype html>
<html lang="fr">
  <head>
    {% block title %}
      <title>L'Agenda Mozilla en Francophonie</title>
    {% endblock title %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="/media/css/bootstrap.css"  />
	<link rel="stylesheet" href="/media/moderne.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="/media/css/add.css" title="add" /> -->
    <link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.png" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    {% block feeds %}
    {% endblock feeds %}
    <link rel="alternate" href="/event/feeds/latest/" title="Agenda Mozilla Francophone, nouveaux évènements" type="application/rss+xml" />
    <link rel="alternate" href="/event/feeds/upcoming/" title="Agenda Mozilla Francophone, prochains évènements" type="application/rss+xml" />
    <link rel="alternate" href="/event/calendar/" title="Agenda Mozilla Francophone, calendrier numérique" type="text/calendar" />
  </head>

  <body>
    <div class="navbar navbar-default" role="navigation">
		<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"> L'Agenda MozFR </a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="{% url agenda.views.index %}">Agenda</a>
				</li>
				<li>
					<a href="{% url agenda.views.about %}">À propos</a>
				</li>
				<li>
					<a href="{% url agenda.events.views.propose %}">Proposer un événement</a>
				</li>
				<li>
					<a href="{% url agenda.events.views.feed_list %}">Fils RSS et iCal</a>
				</li>
				<li>
					<a href="{% url agenda.events.views.stats %}">Statistiques</a>
				</li>
				<li>
					<a href="mailto:marrakis@gmail.com">Contact</a>
				</li>
			</ul>
		</div>
		</div>
	</div>
	<div class="container">
		<div class="page-header">
			<h1>L'Agenda Mozilla en Francophonie</h1>
		</div>
		<p class="lead">
			Tout les événements francophone à propos de Mozilla.
		</p>
	</div>

    </div>

    <div class="container">
	<!--
      <p style="text-align: center;">
        <a href="http://www.agendadulibre.qc.ca/event/954/">
          <img src="/media/img/banniere-hackathon-agenda-du-libre.jpg" />
        </a>
      </p>
	 -->
      {% block content %}
      {% endblock content %}
    </div>
    <div class="footer">
      <br />
    </div>
  </body>
</html>
